@model LocationUser
@{
    ViewData["Title"] = "Delete";
}

<h2>Jeste li sigurni?</h2>
<br />
<p>
    Korisnik: @Model.UserName
</p>
<br />
<p>
    Lokacija: @Model.LocationName
</p>
<br />

<form asp-action="DeleteUserLocation">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Delete" class="btn btn-default" />
</form>
<a asp-action="Index" asp-route-userId="@Model.UserId">Natrag</a>
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}