<div class="text-center">
    <h1 class="text-danger">Pristup odbijen</h1>
    <h6 class="text-danger">
       Nemate dopuštenje za izvršenje.
    </h6>
    <img src="~/images/access-denied.png" style="width:300px" />
</div>