@model Device;


@{
    ViewBag.Title = "Create Device";
}

@section Scripts {

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
    <script>
        $(document).ready(function () {


        });
    </script>

    <script>
        var date = new Date();
        var lastMessage = " <b> Event occured!</b> <br>Triggered at " + date
            + "<br /><button>Acknowledged</button>";
        //var map = L.map('map').setView([44.510402, 15.214226], 26);
        var mapCenter = [44.510402, 15.214226];
        var mymap = L.map('map', {
            center: mapCenter,
            zoom: 26
        });

        
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Powered by <a href="http://www.microlink.hr" > Micro-Link</a>',
            maxZoom: 20,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoianVrYTk3IiwiYSI6ImNrdTZxcng5eTN2c2IycHF0cnE1Zno5cHcifQ.gfrbRhNsX6XJOZywD-kSSw'
        }).addTo(mymap);

        var marker = L.marker(mapCenter).addTo(mymap);
        var updateMarker = function (lat, lng) {
            marker
                .setLatLng([lat, lng])
            //.bindPopup("Your location :  " + marker.getLatLng().toString())
            //.openPopup();
            return false;
        };

        mymap.on('click', function (e) {
            $('#Lat').val(String(e.latlng.lat));
            $('#Long').val(String(e.latlng.lng));
            updateMarker(e.latlng.lat, e.latlng.lng);
        });

        var updateMarkerByInputs = function () {
            console.log($('#Long'), $('#Lat'));
            return updateMarker($('#Lat').val(), $('#Long').val());
        }
        $('#Long').on('input', updateMarkerByInputs);
        $('#Lat').on('input', updateMarkerByInputs);



        var onChange = function (devEui, message, unixTime, fPort) {

            var date = new Date(unixTime);

            L.marker([44.510402, 15.213200],
                { icon: redIcon }
            ).addTo(map);
            marker.bindPopup("<b>Event occured!</b><br>Triggered at " + date
                + "<br/><button>Acknowledged</button>"
            ).openPopup();

        }

    </script>

}

<div class="container">
    <style>
        #map {
            height: 600px;
        }

        .custom-popup .leaflet-popup-content-wrapper {
            background: #2c3e50;
            color: #fff;
            font-size: 16px;
            line-height: 24px;
        }

            .custom-popup .leaflet-popup-content-wrapper a {
                color: rgba(255,255,255,0.5);
            }

        .custom-popup .leaflet-popup-tip-container {
            width: 30px;
            height: 15px;
        }

        .custom-popup .leaflet-popup-tip {
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #2c3e50;
        }
    </style>
    
    <form asp-controller="device" asp-action="create" method="post">
        <div>
            <label asp-for="DevEui">DevEUI </label>
            <input asp-for="DevEui" />
        </div>
        <div>
            <label asp-for="Long">Long </label>
            <input asp-for="Long" />
        </div>
        <div>
            <label asp-for="Lat">Lat </label>
            <input asp-for="Lat" />
        </div>
        <div>
            <label asp-for="Expires">Expires </label>
            <input type="date" asp-for="Expires" />
        </div>
        <button type="submit" class="btn btn-default">Create Device</button>
    </form>
    <div class="custom-popup" id="map"></div>
   
</div>
