@{ Layout = "~/Views/Shared/_Layout_login.cshtml"; }

@{ ViewBag.Title = "BranCo"; }
<!-- Outer Row -->
<div class="row justify-content-center center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Zaboravili ste lozinku?</h1>
                                <p class="mb-4">
                                    Ako imate račun, poslali smo Vam upute za resetiranje lozinke na Vašu e-poštu.
                                </p>
                            </div>
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2"><br /></h1>
                                <p class="mb-4">
                                    <a asp-controller="Account" asp-action="Login" class="btn btn-default m-1">Idi na stranicu prijave</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        .center {
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
    </style>


}