<div class="row justify-content-center display-1 text-white">...</div>
<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">@ViewBag.Title</h1>
                                <p class="mb-4">
                                    @ViewBag.Message. Molimo kliknite <a asp-action="Login">ovdje za prijavu</a> ili <a asp-controller="Account" asp-action="Register"> dodajte novog korisnika.</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>